@{
    ViewData["Title"] = "Lojas";
 }

<style>

    .main{
        margin:25px;
    }

    .table-round-corner {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        overflow: hidden;
    }

    table td {
        color: black;
        padding: 5px;
        font-weight:normal;
    }

    table th {
        color: black;
        font-weight: normal;
        text-align: center;
        padding: 10px;
        font-family:Arial;
        font-weight:lighter;
        font-size: 20px;
    }

    input[type=text] {
        width: 40%;
        height: 40px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 12px 12px 12px;
    }

    .content{
        background-color:lightgray;
        width:100%;
        border-radius:15px;
        height:400px;
    }

</style>

<div class="main">
    <h1>Lojas</h1>
    <br />
    <div style="height: 40px">
        <h3 style="float: left; margin-right:10px; height: 30px">Pesquisar: </h3>
        <input type="text" class="form-control" name="Nome" style="float:left; margin-right: 10px" />
        <button type="submit" class="btn">
            <img src="~/Assets/searchicon.png" style="height:25px" />
        </button>
    </div>
    <br />

    <div class="content">
        <table class="table-round-corner">
            <thead>
                <tr>
                    <th class="text-center">
                        Nome
                    </th>
                    <th class="text-center">
                        Logo
                    </th>
                    <th class="text-center">
                        Promoções em vigor
                    </th>
                    <th class="text-center">
                        Promoções totais
                    </th>
                    <th class="text-center">
                        Está ativa?
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center align-middle">
                        EAa
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width: 30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        asd
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        y
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        x
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        q
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        q
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        q
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/Store.png" style="width:30px; height:30px;" />
                    </td>
                    <td class="text-center align-middle">
                        2
                    </td>
                    <td class="text-center align-middle">
                        1000
                    </td>
                    <td class="text-center align-middle">
                        <img src="~/Assets/positive.png" style="width:30px; height:30px;" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top:10px; margin-right:10px ; float:right">
            <button type="submit" class="btn" style="float:left">
                <img src="~/Assets/ArrowLeft.png" style="height:25px" />
            </button>
            <span class="text-md-center" style="float:left; height:40px; padding:10px">Página 1 de 25</span>
            <button type="submit" class="btn" style="float:left">
                <img src="~/Assets/ArrowRight.png" style="height:25px" />
            </button>
        </div>
    </div>

</div>